.entete {
    background: #0e771a;
    color: #f1f1f1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.entete h3 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.entete button {
    display: block;
    color: #012557;
    font-size: 18px;
    margin-top: 25px;
    width: 100%;
    cursor: pointer;
}

.entete .box-entete {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: 10px;
    top: -5px;
}